.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed; /* 사이드바를 고정 위치로 설정 */
  left: 0;
  top: 0;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 100; /* 헤더보다 아래에 위치하도록 설정 */
}

.sidebar.collapsed {
  width: 50px;
}

.toggle-btn {
  position: absolute;
  right: -20px; /* 사이드바 우측 중앙에 위치 */
  top: 50%;
  transform: translateY(-50%);
  background-color: #f4f4f4;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px; /* 버튼 크기 조정 */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.toggle-btn svg {
  fill: #333;
}

nav {
  width: 100%;
  margin-top: 50px; /* 버튼 아래로 내비게이션 메뉴 이동 */
}

nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

nav ul li {
  width: 100%;
  margin: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 10px 15px;
  width: 100%;
}

nav ul li a:hover {
  color: #007bff;
  background-color: #e9e9e9;
}
