.app {
  display: flex;
}

.container {
  display: flex;
  flex: 1;
}

.sidebar {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 200px; /* 사이드바가 차지하는 공간 */
  transition: margin-left 0.3s;
  background: url('/background.jpg') no-repeat center center fixed; /* 배경화면 설정 */
  background-size: cover;
  min-height: 100vh; /* 전체 화면 높이 설정 */
}

.sidebar.collapsed + .content {
  margin-left: 50px; /* 사이드바가 최소화되었을 때의 공간 */
}
